<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,212}}</string>
                <key>sourceSize</key>
                <string>{533,212}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{149,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,61}}</string>
                <key>sourceSize</key>
                <string>{149,61}</string>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,133},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,67}</string>
            </dict>
            <key>guo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,176},{123,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,55}}</string>
                <key>sourceSize</key>
                <string>{123,55}</string>
            </dict>
            <key>lemo.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,153},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,146},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>pan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,120},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,54}}</string>
                <key>sourceSize</key>
                <string>{116,54}</string>
            </dict>
            <key>pin.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>shanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Titile.png</string>
            <key>size</key>
            <string>{996,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9785713c5748a0b4506acda096b80b7b$</string>
            <key>textureFileName</key>
            <string>Titile.png</string>
        </dict>
    </dict>
</plist>
