<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>annui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{250,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,75}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>annui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,431},{200,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,75}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>chongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,431},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,431},{72,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>huodefenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,472},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,431},{163,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,72}}</string>
                <key>sourceSize</key>
                <string>{163,72}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,472},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{701,427}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{701,427}}</string>
                <key>sourceSize</key>
                <string>{701,431}</string>
            </dict>
            <key>piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,290},{410,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,175}}</string>
                <key>sourceSize</key>
                <string>{410,175}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{586,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,286}}</string>
                <key>sourceSize</key>
                <string>{586,286}</string>
            </dict>
            <key>xuanyaohuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,431},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,39}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>overPanel.png</string>
            <key>size</key>
            <string>{1293,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b74542f77a8e7b85ccfa06d291cf508e$</string>
            <key>textureFileName</key>
            <string>overPanel.png</string>
        </dict>
    </dict>
</plist>
