<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,705},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>gongxiguoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,705},{289,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,72}}</string>
                <key>sourceSize</key>
                <string>{289,72}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{701,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,521}}</string>
                <key>sourceSize</key>
                <string>{701,521}</string>
            </dict>
            <key>shoucitongguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,779},{177,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,29}}</string>
                <key>sourceSize</key>
                <string>{177,29}</string>
            </dict>
            <key>shouye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,705},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>xiayiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,779},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Achieve.png</string>
            <key>size</key>
            <string>{525,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24338b14111ca4ac9bb75bbb446d682f$</string>
            <key>textureFileName</key>
            <string>Achieve.png</string>
        </dict>
    </dict>
</plist>
