<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongxihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,717},{301,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,74}}</string>
                <key>sourceSize</key>
                <string>{301,74}</string>
            </dict>
            <key>guangshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,636}}</string>
                <key>sourceSize</key>
                <string>{1000,636}</string>
            </dict>
            <key>lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{193,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,213}}</string>
                <key>sourceSize</key>
                <string>{193,213}</string>
            </dict>
            <key>putonglingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,640},{119,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,28}}</string>
                <key>sourceSize</key>
                <string>{119,28}</string>
            </dict>
            <key>wubeilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,640},{200,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,75}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GiftBox.png</string>
            <key>size</key>
            <string>{1004,835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ab478ba18e433b53e7bf73c5fac4756$</string>
            <key>textureFileName</key>
            <string>GiftBox.png</string>
        </dict>
    </dict>
</plist>
