<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>annui.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,761},{195,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,74}}</string>
                <key>sourceSize</key>
                <string>{195,74}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{628,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,588}}</string>
                <key>sourceSize</key>
                <string>{628,588}</string>
            </dict>
            <key>fachu.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,837},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>kelingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,837},{59,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,20}}</string>
                <key>sourceSize</key>
                <string>{59,20}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{185,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,58}}</string>
                <key>sourceSize</key>
                <string>{185,58}</string>
            </dict>
            <key>mianfeizuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,761},{117,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,133}}</string>
                <key>sourceSize</key>
                <string>{117,133}</string>
            </dict>
            <key>quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,837},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>quxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,632},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{76,35}</string>
            </dict>
            <key>tishici_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{544,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,127}}</string>
                <key>sourceSize</key>
                <string>{544,127}</string>
            </dict>
            <key>wenxintishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{263,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,70}}</string>
                <key>sourceSize</key>
                <string>{263,70}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,833},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeDiamond.png</string>
            <key>size</key>
            <string>{592,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c2de2ad83afcaeb15fe0b41020f06f3$</string>
            <key>textureFileName</key>
            <string>FreeDiamond.png</string>
        </dict>
    </dict>
</plist>
