<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>annui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{260,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,109}}</string>
                <key>sourceSize</key>
                <string>{260,109}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,747}}</string>
                <key>sourceSize</key>
                <string>{615,747}</string>
            </dict>
            <key>di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,619},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{462,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,150}}</string>
                <key>sourceSize</key>
                <string>{462,150}</string>
            </dict>
            <key>dianjijiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,743},{146,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,18}}</string>
                <key>sourceSize</key>
                <string>{146,18}</string>
            </dict>
            <key>guanggao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,863},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>huodegengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{241,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,43}}</string>
                <key>sourceSize</key>
                <string>{241,43}</string>
            </dict>
            <key>huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,863},{87,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,48}}</string>
                <key>sourceSize</key>
                <string>{87,48}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,771},{158,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>jingxuantuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,619},{122,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,33}}</string>
                <key>sourceSize</key>
                <string>{122,33}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,903},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,891},{166,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,46}}</string>
                <key>sourceSize</key>
                <string>{166,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeMoney.png</string>
            <key>size</key>
            <string>{751,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:884a14fada5bb7cfbb0dddfc795107d8$</string>
            <key>textureFileName</key>
            <string>FreeMoney.png</string>
        </dict>
    </dict>
</plist>
