<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>annui.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,482},{324,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,129}}</string>
                <key>sourceSize</key>
                <string>{324,129}</string>
            </dict>
            <key>baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,592},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>chuangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,613},{223,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,58}}</string>
                <key>sourceSize</key>
                <string>{223,58}</string>
            </dict>
            <key>di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{970,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{970,258}}</string>
                <key>sourceSize</key>
                <string>{970,258}</string>
            </dict>
            <key>emengguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,482},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>emengguanka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{426,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,108}}</string>
                <key>sourceSize</key>
                <string>{426,108}</string>
            </dict>
            <key>jichuguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,294},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>jichuguanka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,262},{425,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,108}}</string>
                <key>sourceSize</key>
                <string>{425,108}</string>
            </dict>
            <key>kunnanguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,326},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>kunnanguanka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{425,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,108}}</string>
                <key>sourceSize</key>
                <string>{425,108}</string>
            </dict>
            <key>pipen.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,613},{223,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,58}}</string>
                <key>sourceSize</key>
                <string>{223,58}</string>
            </dict>
            <key>putongguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,482},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>putongguanka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,372},{419,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,108}}</string>
                <key>sourceSize</key>
                <string>{419,108}</string>
            </dict>
            <key>tujiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,372},{133,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,255}}</string>
                <key>sourceSize</key>
                <string>{133,255}</string>
            </dict>
            <key>wuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{225,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{225,58}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{23,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,6}}</string>
                <key>sourceSize</key>
                <string>{23,6}</string>
            </dict>
            <key>yibnaguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,262},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>yibnaguanka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{419,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,108}}</string>
                <key>sourceSize</key>
                <string>{419,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RecruitModel.png</string>
            <key>size</key>
            <string>{985,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67ae208761c5d26ca2b7889a63998513$</string>
            <key>textureFileName</key>
            <string>RecruitModel.png</string>
        </dict>
    </dict>
</plist>
