<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>annui.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,751},{260,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,109}}</string>
                <key>sourceSize</key>
                <string>{260,109}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,747}}</string>
                <key>sourceSize</key>
                <string>{615,747}</string>
            </dict>
            <key>di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>guanggao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,751},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>huodegengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,751},{241,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,43}}</string>
                <key>sourceSize</key>
                <string>{241,43}</string>
            </dict>
            <key>huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,910},{87,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,48}}</string>
                <key>sourceSize</key>
                <string>{87,48}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,862},{158,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,862},{166,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,46}}</string>
                <key>sourceSize</key>
                <string>{166,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeMoney.png</string>
            <key>size</key>
            <string>{619,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc3118ddc222d4d6bb6294635db4a5bd$</string>
            <key>textureFileName</key>
            <string>FreeMoney.png</string>
        </dict>
    </dict>
</plist>
